/**********************************TAG Selectors***********************/
body{
  background-color: #F7DBF0;
  margin: 0;
  text-align: center;
}

hr{
  border-color: #BEEBE9;
  width: 20%;
  align-items: center;
  border-style: none;
  border-top-style: dotted;
  border-width: 20px;

}
table{
  margin-left: auto;
  margin-right: auto;
}

tbody{
  position:relative;
  left: auto;
  text-align: center;

}

td{
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
  background-color: white;
  border-radius: 15px;

}
iframe{
  height: 300px ; width: 500px ; align-items: center;
}
/**********************************Class Selectors***********************/
img.hs{
  float: center;
  width:  200px;
  height: 200px;
  object-fit: cover;
}

.top-container{
  background-color: #BEEBE9 ;
  position: relative;
  padding-top:20px;
  margin: 0;
  font-size: 2.625rem;
  font-family: 'Kaushan Script', normal;
  text-align: center;

}


.index-img-a{
  width: 25%;
  float: right;
  margin-right: 30px;
  border-radius: 20%;

}

.index-img-b{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 20%;
}
.lessons{
  width:50%;
  margin: 5rem auto 3rem auto;
  text-align: left;
  line-height: 2;
}

.school{
  display: inline-block;
  width: 30%;
}

.row2{
  width: 40%;
}


h1.school{
  margin: 0;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}

.Column{
  float: left;
  width: 33.33%;
  padding: 1px;
}
div.box{
  display:inline-table;
  width: 30%
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/**********************************id Selectors***********************/
